*{
	margin: 0;
	padding: 0;
}

header {
	background-image: url("../images/fondoNavBar.jpg");
	background-repeat: repeat-x;
}

#barra-navegacion {
	text-align: center;
	justify-content: center;
	display: flex;
	background-color: black;
	padding-top: 10px;
	margin: 0;
	height: 30px;
}

#barra-navegacion a{
	padding: 2em;
	color: white;
}

.panelCentral {
	top: 10%;
	background-color: #b6e6fb;
	position: absolute;
	left:20%;
	/*determinamos una anchura*/
	width:1100px;
	/*indicamos que el margen izquierdo, es la mitad de la anchura*/
	margin-left:-160px;
	height: 500px;
	padding: 1em;
	border: 2px solid #eaf591;
	text-align: center;
}

.panelCentral #Titulo1 {
	border-bottom: 2px solid white;
	left:30%;
	position: absolute;
	align-items: center;

}
.panelCentral #Titulo1 p {
	margin-bottom: 10px;
}

.panelCentral #Historia {
	margin-right: 20px;
	align-items: center;
	margin-top: 40px;
	font-size: 18px;
}

.panelCentral #imagenes {
	width: 600px;
	height: 200px;
	margin: auto;
	justify-content: center;
}
.panelCentral #imagenes img{
	width: 200px;
	height: 200px;
	float: left;
}

.panelCentrado #contenedor{
	justify-content: center;
	margin: auto;
}

.panelCentrado #imagenCostado {
	justify-content: center;
}

div#imagenCostado {
	width: 200px;
	height: 200px;
	justify-content: center;
	display: none;
	margin-left: 10px;
	border: 1px dashed #8eaeae;
	float: left;
}
.panelCentral #panelInfo {
	width: 600px;
	height: 200px;
	margin-left: 50px;
	background-color: white;
	text-align: left;
	align-items: center;
	display: none;
	float: left;
}
.panelCentral #panelInfo p {
	 width: 250px;
     white-space: nowrap;
	margin-left: 20px;
}
